body {
  background-color: #ffffff; 
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0c0577; 
}

.header h1 {
  color: #ffffff; 
  margin: 0;
}

.credits {
  color: #ffffff; 
  margin-right: 10px;
}

.bottom-button-container {
  display: flex; 
  justify-content: flex-end; 
  gap: 10px; 
  padding: 20px; 
}


.search-button {
  background-color: #f5f5f500;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.search-button i {
  margin-right: 5px;
}

.search-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-left: 10px;
}

.add-auction-button,
.add-credits-button {
  background-color: #0c0577;
  color: white; 
  padding: 15px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.books-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 20px;
}

.book-card {
  background-color: #0e0751;
  color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card img {
  width: 100%;
  height: 200px;
  object-fit: cover; 
  border-radius: 10px;
  margin-bottom: 10px;
}

.book-card h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #ffffff; 
}

.book-card p {
  font-size: 16px;
  color: #b3b3b3; 
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(133, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.modal-content h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.modal-content input {
  width: 100%; 
  max-width: 200px; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  margin: 10px auto; 
}

.modal-content button {
  background-color: #0c0577; 
  color: white; 
  padding: 8px 12px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 14px; 
  margin: 5px; 
  
}
.button-container button {
  background-color: #0c0577;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}
.modal-content button:hover {
  background-color: #2117a4;
}
.button-container button:hover {
  background-color: #0a045e; 
}

.menu {
  position: absolute;
  top: 60px; 
  right: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 1000; 
}

.menu button {
  display: block; 
  margin: 5px 0;
}
.login-button {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #45a049;
}
